ion-title{
   text-align: center;
   font-weight: bold;
 }

 .submit{
   height: 44px;
   --border-radius: 10px;
   --background: var(--ion-color-tertiary);
 }

 .scan-label{
   margin: 25px 0;
 }

 img{
   width: 200px;
 }

 .result{
   color: black;
   border: 1px dashed var(--ion-color-medium);
   border-radius: 10px;
   margin: 30px 0;

   p{
     color: var(--ion-color-tertiary);
     margin-bottom: 5px;
     font-size: 11px;
   }

   h6{
     margin-top: 0;
   }
 }

 ion-button{
  text-transform: none;
  font-weight: bold;
  padding: 0 25% 0 25%;
 }

 ion-textarea{
   --highlight-color-valid: var(--ion-color-tertiary);
   text-align: start;
 }

 #qrImage{
   padding: 20px 0;
 }

 .qr-wrapper{
   width: 230px;
   min-height: 230px;
   border-radius: 20px;
   border: 1px dashed var(--ion-color-medium);
 }

 .qr-placeholder{
   width: 250px;
 }

 .d-flex-center{
   display: flex;
   justify-content: center;
   align-items: center;
 }

ion-content {
  --margin: 20px;
}
