<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="qr-code-sharp"></ion-icon>
      CREA TU CÓDIGO QR
      <ion-icon name="qr-code-sharp"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--generar QR-->
  <div>
    <div id="qrImage">
      <div class="d-flex-center">
        @if (qrText) {
        <div class="d-flex-center qr-wrapper">
          <qr-code [value]="qrText"
          size="210"
          errorCorrectionLevel="M" />
        </div>
        }
        @else {
          <div class="d-flex-center qr-wrapper">
            <img class="qr-placeholder" src="assets/images/qr-scanner_icon.png"/>
          </div>
        }
        </div>
    </div>
      <ion-textarea
      label="¿Qué quieres compartir en tu QR?"
      labelPlacement="stacked"
      fill="outline"
      [(ngModel)]="qrText"
      rows="4"
      [autoGrow]="true">
      </ion-textarea>

      <!--compartir QR-->
      @if (qrText) {
      <ion-button (click)="captureScreen()" class="submit ion-margin-top " expand="block" color="tertiary">
        Compartir QR
        <ion-icon slot="end" name="share-social-outline"></ion-icon>
      </ion-button>
      }
  </div>
</ion-content>
